body {
	background-color: black;
	display: block;
	color: white;
}

h2{
	text-align: center;
}

.row {
	background-color: lightgrey;
	display: block;
	width: 541px;
	margin: 3px auto;
	padding: 3px;
}

.col {
	height: 60px;
	width: 60px;
	border: black solid 2px;
	border-radius: 3px;
	background-color: grey;
	display: inline-block;
	clear:both;
}

.hover {
	background-color: #BD6342;
}

.active {
	background-color: #6161BA;
}

.location {
	border: 3px solid grey;
	border-radius: 4px;
	width: 240px;
	background-color: darkgrey;
}

.details {
	position: relative;
	top: 145px;
}

